/* App.css */
:root {
    --primary-color: #0056b3;
    --secondary-color: #27ae60;
    --accent-color: #f39c12;
    --background-color: #f8f9fa;
    --text-color: #333;
    --light-gray: #e9ecef;
    --dark-gray: #6c757d;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  
  /* Media queries para hacer responsive el diseño */
  @media (min-width: 768px) {
    .login-image, .register-image {
      display: block;
    }
  }