@keyframes backgroundRotation {
  0% { background-image: url("../Imagenes/Fondo1.png"); }
  25% { background-image: url("../Imagenes/Fondo2.png"); }
  50% { background-image: url("../Imagenes/Fondo3.png"); }
  75% { background-image: url("../Imagenes/Fondo4.png"); }
  100% { background-image: url("../Imagenes/Fondo5.png"); }
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: backgroundRotation 30s infinite;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

.auth-form {
  background: rgba(0, 0, 0, 0.581);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.88);
  text-align: center;
  backdrop-filter: blur(10px);
}

.auth-form h2 {
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}

.auth-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.auth-form button {
  background: #ae1d10;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.auth-form p {
  margin-top: 1rem;
  color: white;
}

.auth-form a {
  color: #c22011;
}